.login_background{
    background: url("../../img/login_background.jpg") fixed center no-repeat;
    background-size: cover;
}
.login_image{
    background-color: #fff;
    box-shadow: 11px 11px 50px 5px #25265E;
    opacity: 0.95;
}
.login_section .custom-control-description{
    color: #fff !important;
}
.login_section{
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}
.login_section_top{
    margin-top: 20%;
}
.login_section input{
    padding-left: 20px;
    background-color: rgba(170, 177, 185,0.5);
    color: #000 !important;
    border:none;
}
.login_section input:focus{
    background-color: rgba(170, 177, 185,0.5);
    color: #fff;
    border:none;
}
.login_bottom{
    border-bottom: 1px solid #25265E;
    padding-bottom: 20px;
}
.login_section a{
    cursor: pointer;
}
.admire_logo{
    width:120px;
    height:80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*register*/
.register_section_top{
    margin: 10% 0;
}
/*forgot password*/
.forgot_section_top{
    margin: 135px 0;
}

@media (min-width: 990px) {
    .login_section_top{
        margin-top: 10%;
    }
}

.text-hover:hover{
    color: #8657f0 !important;
    opacity: 0.8;
}

.text-login{
    color: #25265E;
}

.btn-login-hover:hover{
    background-color: #8657f0 !important;
}