 /*=======================
 TEAM COLLABORATION START
 ======================= */

.unilevel_img {
    width: 50px;
    height: 50px;
} 

.member {
    padding: 0 22px 22px;
}

.bg-container {
    /*background-color: #f8fafc;*/
}

.member h3 {
    color: #3d4852;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 14px;
}

.member__tree {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 32px;
    margin-bottom: 32px;
    overflow: auto;
}

.member__tree::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.member__tree::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}

.member__tree::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background-color: #aaa;
}

.member__tree--inner {
    margin: 0 auto;
    position:relative;
}

.member__tree--switcher {
    position: absolute;
    top: 0;
    right: 0;
    z-index:22;
}

.member__tree--switcher i {
    cursor: pointer;
    border: 1px solid #e5e5e5;
    padding: 10px 13px;
    margin: 0 -2px;
    background: #fff;
    font-size: 14px;
    color: #dae1e7;
    transition:.3s;
}

.member__tree--switcher i:hover,
.member__tree--switcher i.active {
    color:#0083e8;
    transition:.3s;
}

.search-network {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 32px;
}

.search-network h4 {
    border-bottom: 1px solid #e9eef2;
    padding: 18px 32px 13px;
    color: #3d4852;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
}

.search-network label {
    color: #606f7b;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.search-network form {
    padding: 18px 32px 30px;
}

.search-network input {
    max-width: 384px;
    height: 40px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 1px solid #dae1e7;
    margin-bottom: 15px;
}

.search-network .btn-primary {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    border-radius: 4px;
    background-color: #0083e8;
    border: 1px solid #0083e8;
    padding: 0 16px;
    margin-right: 5px;
}

.search-network .btn-primary:hover {
    color: #ffffff;
    background-color: #036bbc;
    border: 1px solid #036bbc;
}

.search-network .btn-default {
    color: #606f7b;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dae1e7;
    padding: 0 16px;
    margin-right: 5px;
}

.search-network .btn-default:hover {
    color: #606f7b;
    background-color: #e5e5e5;
    border: 1px solid #dae1e7;
}

@media (min-width: 993px) {
    
    .active-grid .member__tree ul.act[data-parent="0"] + ul.act {
        display: flex;
    }
    .active-grid .member__tree ul.act[data-parent="0"] {
        display: table;
    }
    .active-grid .member__tree ul {
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0;
        display: none;
        flex: none;
        text-align: center;
        flex-flow: row;
    }
    .active-grid .member__tree ul.parent {
        display: block;
    }
    .active-grid .member__tree ul li {
        list-style: none;
        display: inline-block;
        padding: 0;
        text-align: left;
        position: relative;
        flex-shrink: 0;
        width: 382.5px;
    }
    .active-grid .member__tree ul li .item {
        width: 350px;
        min-height: 70px;
        box-shadow: 0 4px 24px rgba(37, 38, 94, 0.1);
        border-radius: 4px;
        padding: 10px 10px 10px 80px;
        position: relative;
        margin: 0 auto 64px;
        display: table;
    }
    .active-grid .member__tree ul li .item>i {
        border: 2px solid #0083e8;
        background-color: #ffffff;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #0083e8;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 10px;
        z-index: 22;
        cursor: pointer;
    }
    .active-grid .member__tree .item>i.act:before {
        content: "\f068";
    }
    .active-grid .member__tree ul li .item>img {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .active-grid .member__tree ul li .item .member__name {
        color: #3d4852;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        display: block;
    }
    .active-grid .member__tree ul li .item .member__email {
        color: #8795a1;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        display: table;
    }
    .active-grid label.green {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(45, 199, 109, 0.2);
        padding:0 12px;
        color: #2dc76d;
    }
    .active-grid label.red {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(255, 112, 82, 0.1);
        padding:0 12px;
        color: #ff7052;
    }       
    .active-grid .member__tree ul li .item .member__amount {
        display: table;
        font-size: 13px;
        font-weight: 600;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.27px;
        margin-top:5px;
    }   
    .active-grid .member__tree>ul li.act ul:before {
        content: "";
        background-color: #dae1e7;
        height: 1px;
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
        width: calc(100% - 33%);
        margin: 0 auto;
        z-index: 0;
    }
    .active-grid .member__tree>ul li.act .item:before {
        content: "";
        background-color: #dae1e7;
        height: 32px;
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
        width: 1px;
        margin: 0 auto;
        z-index: 0;
    }
    .active-grid .item.act i:before,
    .active-grid ul.parent.act .item i:before,
    .active-grid .member__tree>ul>li.act>.item i:before {
        content: "\f068";
    }
    .active-grid .member__tree>ul>li.act>.item:after {
        content: "";
        background-color: #dae1e7;
        height: 64px;
        position: absolute;
        bottom: -64px;
        left: 0;
        right: 0;
        width: 1px;
        margin: 0 auto;
        z-index: 0;
    }
    .active-grid .member__tree ul.act {
        display: inline-flex;
    }
    .active-grid .member__tree ul.act:before {
        content: "";
        height: 32px;
        width: 1px;
        position: absolute;
        top: -64px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #dae1e7;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:before {
        content: "";
        height: 32px;
        width: 1px;
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #dae1e7;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #dae1e7;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:first-child:after {
        left: auto;
        width: 0%;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:first-child+li:not(:last-child):after {
        left: auto;
        width: 150%;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:first-child+li:last-child:after {
        right: 50%;
        width: 100%;
        left: auto;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:nth-last-child(2):not(:first-child):after {
        right: auto;
        width: 150%;
    }
    .active-grid .member__tree ul:not([data-parent="0"]).act>li:last-child:after {
        right: auto;
        width: 0%;
    }
    .active-grid li.act>.item i:before {
        content: "\f068";
    }
    .active-grid .member__tree ul[data-parent="0"].act + ul > li:first-child:after {
        right: auto;
        left:50% !important;
        width: calc(150% - 4px) !important;
    }       
    .active-list .member__tree {
        padding: 32px;
    }
    .active-list .member__tree ul {
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0;
        display: none;
    }
    .active-list .member__tree ul[data-parent="0"].act {
        border: none;
        padding: 0;
        margin-left: 0;
    }
    .active-list .member__tree ul li {
        list-style: none;
        display: block;
        padding: 0 18px;
        text-align: left;
        position: relative;
        z-index: 11;
    }
    .active-list .member__tree ul li .item {
        width: 350px;
        min-height: 70px;
        box-shadow: 0 4px 24px rgba(37, 38, 94, 0.1);
        border-radius: 4px;
        padding: 10px 10px 10px 80px;
        position: relative;
        margin: 0 0 30px;
        display: table;
        z-index: 2222;
        background: #fff;
    }
    .active-list .member__tree ul li .item>i {
        border: 2px solid #0083e8;
        background-color: #ffffff;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #0083e8;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 10px;
        z-index: 22;
        cursor: pointer;
    }
    .active-list .member__tree .item>i.act:before {
        content: "\f068";
    }
    .active-list .member__tree ul li .item>img {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .active-list .member__tree ul li .item .member__name {
        color: #3d4852;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        display: block;
    }
    .active-list .member__tree ul li .item .member__email {
        color: #8795a1;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        display: table;
    }
    .active-list label.green {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(45, 199, 109, 0.2);
        padding:0 12px;
        color: #2dc76d;
    }
    .active-list label.red {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(255, 112, 82, 0.1);
        padding:0 12px;
        color: #ff7052;
    }       
    .active-list .member__tree ul li .item .member__amount {
        display: table;
        font-size: 13px;
        font-weight: 600;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.27px;
        margin-top:5px;
    }
    .active-list .item.act i:before,
    .active-list ul.parent.act .item i:before,
    .active-list .member__tree>ul>li.act>.item i:before {
        content: "\f068";
    }
    .active-list .member__tree ul[data-parent="1"].act {
        display: table;
        margin-left: 25px;
    }
    .active-list .member__tree ul.act {
        display: table;
        margin-left: 18px;
    }
    .active-list .member__tree ul:not([data-parent="0"]).act>li:after {
        content: "";
        background: #dae1e7;
        width: 1px;
        height: calc(100% + 32px);
        position: absolute;
        top: -32px;
        left: 0;
    }
    .active-list .member__tree ul:not([data-parent="0"]).act>li:last-child:after {
        top: -32px;
        left: 0;
        height: calc(55px + 32px);
    }
    .active-list .member__tree ul:not([data-parent="0"]).act>li:before {
        content: "";
        background: #dae1e7;
        width: 150px;
        height: 1px;
        position: absolute;
        top: 55px;
        left: 0;
        z-index: -1;
    }
    .active-list li.act>.item i:before {
        content: "\f068";
    }   
}

@media (max-width: 992px) {
.member__tree--switcher {
    display:none;
    opacity:0;
    visibility:hidden;
}   
    .member__tree {
        padding: 32px 20px;
    }
    .member__tree--inner {
        margin: 0 auto;
        display: table;
    }
    .member__tree ul {
        padding: 0;
        width: 100%;
        position: relative;
        margin: 0;
        display: none;
    }
    .member__tree ul[data-parent="0"].act {
        border: none;
        padding: 0;
        margin-left: 0;
    }
    .member__tree ul li {
        list-style: none;
        display: block;
        padding: 0 8px;
        text-align: left;
        position: relative;
        z-index: 11;
    }
    .member__tree ul li .item {
        width: 350px;
        min-height: 70px;
        box-shadow: 0 4px 24px rgba(37, 38, 94, 0.1);
        border-radius: 4px;
        padding: 10px 10px 10px 80px;
        position: relative;
        margin: 0 0 30px;
        display: table;
        z-index: 2222;
        background: #fff;
    }
    .member__tree ul li .item>i {
        border: 2px solid #0083e8;
        background-color: #ffffff;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #0083e8;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 10px;
        z-index: 22;
        cursor: pointer;
    }
    .member__tree .item>i.act:before {
        content: "\f068";
    }
    .member__tree ul li .item>img {
        position: absolute;
        top: 16px;
        left: 16px;
    }
    .member__tree ul li .item .member__name {
        color: #3d4852;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        display: block;
    }
    .member__tree ul li .item .member__email {
        color: #8795a1;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        display: table;
    }
    label.green {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(45, 199, 109, 0.2);
        padding:0 12px;
        color: #2dc76d;
    }
    label.red {
        line-height: 24px;
        border-radius: 12px;
        background-color: rgba(255, 112, 82, 0.1);
        padding:0 12px;
        color: #ff7052;
    }       
    .member__tree ul li .item .member__amount {
        display: table;
        font-size: 13px;
        font-weight: 600;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.27px;
        margin-top:5px;
    }
    .item.act i:before,
    ul.parent.act .item i:before,
    .member__tree>ul>li.act>.item i:before {
        content: "\f068";
    }
    .member__tree ul[data-parent="1"].act {
        display: table;
        margin-left: 15px;
    }
    .member__tree ul.act {
        display: table;
        margin-left: 8px;
    }
    .member__tree ul:not([data-parent="0"]).act>li:after {
        content: "";
        background: #dae1e7;
        width: 1px;
        height: calc(100% + 32px);
        position: absolute;
        top: -32px;
        left: 0;
    }
    .member__tree ul:not([data-parent="0"]).act>li:last-child:after {
        top: -32px;
        left: 0;
        height: calc(55px + 32px);
    }
    .member__tree ul:not([data-parent="0"]).act>li:before {
        content: "";
        background: #dae1e7;
        width: 150px;
        height: 1px;
        position: absolute;
        top: 55px;
        left: 0;
        z-index: -1;
    }
    li.act>.item i:before {
        content: "\f068";
    }
}

 /*=======================
 TEAM COLLABORATION END
 ======================= */