.clockdivcss{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    background-color: #d3d3de; 
    border-radius: 10px; 
    color: #1b449d; 
    padding: 6px 12px;
    box-shadow: 0px 0px 30px -5px #989898;
}

.clockdivcss > div{
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.clockdivcss div > span{
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
}

.smalltext{
    font-size: 15px;
}